@using Alarms.Web.Helper
@model Alarms.Web.Models.Home.DataViewer;

@{
    string controller = ViewBag.Controller;
    var htmlAttributes = new Dictionary<string, object>() { { "data-actionreplacedirecttargets", "index-table" } };
    ViewData["Title"] = "Data Viewer";
}

<div class="text-center">
    <h1 class="">Custom data search</h1>
    <br/>
    <br />

  
   <form asp-action="DataViewer" method="get">
   
     Filter  by date from: <input type="datetime-local" id="startDate" name="startDate" asp-for="startDate" />
    
     To date: <input type="datetime-local" id="endDate" name="endDate" asp-for="endDate" />
     
     Filter by  <input type="text" id="filter" name="filter" asp-for="tagName"/>
     <br /> 
     <br />
     items per page: <input type="range" id="ipp" name="ipp" min="20" max="60" step="20" asp-for="ipp"  /> <label>@Model.ipp</label>
     <br />
     <br />       

     <button class="btn btn-primary col-1" type="submit">Filter</button>
    </form>
 
    <div class="col-12">
        <partial name="_DataTableView">

        
      </div>
   

</div>



 
