@model Alarms.Web.Models.Home.WhateverModel;
@{
    ViewData["Title"] = "Whatever";
}

<div class="text-center">
    <h1 class="display-4">Whatever stuff</h1>
    <p>Justa some random data maybe :)</p>
    <p>I am already hate it :))</p>
    <p>@string.Join(",", Model.WhateverList) </p>

    <input  type="datetime-local">
    
</div>

</div>
